<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
    ons.bootstrap()
      .controller('AppController', function($scope) {
        this.load = function(page) {
          $scope.splitter.content.load(page);
          $scope.splitter.left.close();
        };

        this.toggle = function() {
          $scope.splitter.left.toggle();
        };
      });

    ons.ready(function() {
        console.log("Onsen UI is ready!");
    });
  </script>
</head>
<body>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>
        <ons-list>
          <ons-list-item ng-click="app.load('home.html')" tappable>
            スポンサーサイト
          </ons-list-item>
          <ons-list-item ng-click="app.load('memo.html')" tappable>
            Settings Memo
          </ons-list-item>
          <ons-list-item ng-click="app.load('data_save_load.html')" tappable>
            データのセーブとロード
          </ons-list-item>
          <ons-list-item ng-click="app.load('speedhive.html')" tappable>
            MYLAPS speedhive
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>

  <template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          スポンサーサイト
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        SportCar＆EuroCar
        <p id = "myid"></p>
        <iframe width="100%" height="100%" src="https://www.eurojp.com/all_cars/" scrolling="auto"></iframe>
      </p>
    </ons-page>
  </template>

  <ons-template id="memo.html">
    <ons-page ng-init="PlugGap = 100; FrontSprocket = 10; RearSprocket = 80">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe right to open the menu!
        <div id="info">
        <h4>EntryClass: <span id="EntryClass">Cadet &nbsp;</span>,   DryRain: <span id="DryRain">Dry &nbsp;</span></h4>
        <h4>Chassis: <span id="Chassis"> &nbsp;</span>,   Engine: <span id="Engine">&nbsp;</span></h4>
        <h4>ExhaustJoint: <span id="PlugGap"> &nbsp;</span>,   Airboxes: <span id="Airboxes">&nbsp;</span></h4>
        <h4>SparkPlugs: <span id="SparkPlugs"> &nbsp;</span>,   PlugGap: <span id="PlugGap">{{PlugGap}}&nbsp;</span></h4>
        <h4>FrontSprocket: <span id="FrontSprocket">{{FrontSprocket}} &nbsp;</span>,   RearSprocket: <span id="RearSprocket">{{RearSprocket}}&nbsp;</span></h4>
        <h4>FrontWheels: <span id="FrontWheels">&nbsp;</span>, RearWheels: <span id="RearWheels"></span></h4>
        <h4>FrontHubs: <span id="FrontHubs">&nbsp;</span>, RearHubs: <span id="RearHubs"></span></h4>
        <ons-row>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-volume-down"></ons-icon>
          </ons-col>
          <ons-col>
            <ons-range style="width: 90.9%;" min="50" max="120" ng-model="PlugGap"></ons-range>{{PlugGap}}
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-volume-up"></ons-icon>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 20px;">
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-brightness-low"></ons-icon>
          </ons-col>
          <ons-col>
            <ons-range style="width: 90.9%;" min="7" max="25" ng-model="FrontSprocket"></ons-range>{{FrontSprocket}}
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-brightness-high"></ons-icon>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 20px;">
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col>
            <ons-range style="width: 90.9%;" min="65" max="95" ng-model="RearSprocket"></ons-range>{{RearSprocket}}
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
        </div>
      </p>
    <script>console.log(document.getElementById("FrontSprocket").textContent);</script>
    </ons-page>
  </ons-template>
  <ons-template id="data_save_load.html">
    <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            データのセーブとロード
             <div id="message"></div>
          </div>
        </ons-toolbar>
        <ons-button onclick="saveData()">
            データセーブ
        </ons-button>
        <ons-button onclick="saveLoad()">
            データロード
        </ons-button>
    </ons-page>
  </ons-template>

  <template id="speedhive.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
            MYLAPS speedhive
        </div>
      </ons-toolbar>
        <iframe width="100%" height="100%" src="https://speedhive.mylaps.com" scrolling="auto"></iframe>
    </ons-page>
  </template>
</body>
</html>
