<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/memo.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
//    param_obj =new new_param();
//    console.log(param_obj)
    gnearnum = -1;
    glat = 0;
    glon = 0;
    ons.bootstrap()
        .controller('AppController',function($scope,$http){
        this.load = function(page) {
         var config = { 
          params: { lat:Circuit[gnearnum].lat, 
                    lon:Circuit[gnearnum].lon,
                    units:'metric',
                    APIKEY:'2e950c461075a5b6903bdf443a8c1072'
              } 
        };
        $http.get("http://api.openweathermap.org/data/2.5/weather",config)    
          .then(successCallback, errorCallback);
            function successCallback(response){
                console.log("-----------------------");
                $scope.weather_weather = response.data.weather[0].main;
                $scope.weather_description = response.data.weather[0].description;
                $scope.weather_gettimedt = response.data.dt;
                $scope.weather_gettime = new Date(response.data.dt*1000).toLocaleString();
                $scope.weather_temp = response.data.main.temp;
                $scope.weather_pressure = response.data.main.pressure;
                $scope.weather_humidity = response.data.main.humidity;
                $scope.weather_windspeed = response.data.wind.speed;
                $scope.weather_winddeg = response.data.wind.deg;
                $scope.weather_area = response.data.name;
                console.log($scope.weather_weather,$scope.weather_description,$scope.weather_gettime,
                                 $scope.weather_temp,$scope.weather_pressure,$scope.weather_humidity,
                                 $scope.weather_windspeed,$scope.weather_winddeg,$scope.weather_area); 
            }
            function errorCallback(error){
                //error code
                alert('天気情報の取得に失敗しました'); 
            }
         $scope.splitter.content.load(page);
             $scope.splitter.left.close();
          $scope.sCircuitNum = gnearnum;
          $scope.sCircuitName = Circuit[gnearnum].Circuit;
          $scope.sCircuitlat = Circuit[gnearnum].lat;
          $scope.sCircuitlon = Circuit[gnearnum].lon;
          $scope.sCircuitUrl = Circuit[gnearnum].shape;
        // console.log("~~~~~~~~~~~");
        // console.log($scope.sCircuitlat);
        // console.log($scope.sCircuitlon);
        };

        this.toggle = function() {
          $scope.splitter.left.toggle();
        };
        
        this.rangeChange = function(type,param) {
            set_param($scope.obj,type,param)
            console.log(get_param($scope.obj,type))
        };
        
        this.saveloadDataLocal = function(saveload){
            console.log( saveload )
            if(saveload=='save'){
            console.log( $scope.obj[0].param )
                localStorage.setItem('key' ,$scope.obj[0].param);
            }else if(saveload=='saveas'){
                localStorage.setItem('key' ,$scope.obj[0].param);
            }else{
                $scope.obj[0].param = localStorage.getItem('key');
            console.log( $scope.obj[0].param )
            }
        };
        
        this.selectChange = function(type,item){
            switch( type ) {
                case 'EntryClass':
                $scope.selectEntryClass = item;
                console.log(type,$scope.selectEntryClass)
                break;
                case 'Chassi':
                $scope.selectChassis = item;
                console.log(type,$scope.selectChassis)
                break;
                case 'Engine':
                $scope.selectEngine = item;
                console.log(type,$scope.selectEngine)
                break;
                case 'SparkPlugs':
                $scope.selectSparkPlugs = item;
                console.log(type,$scope.selectSparkPlugs)
                break;
                case 'Airbox':
                $scope.selectAirbox = item;
                console.log(type,$scope.selectAirbox)
                break;
                case 'FrontWheels':
                $scope.selectFrontWheels = item;
                console.log(type,$scope.selectFrontWheels)
                break;
                case 'RearWheels':
                $scope.selectRearWheels = item;
                console.log(type,$scope.selectRearWheels)
                break;
                case 'FrontHubs':
                $scope.selectFrontHubs = item;
                console.log(type,$scope.selectFrontHubs)
                break;
                case 'RearHubs':
                $scope.selectRearHubs = item;
                console.log(type,$scope.selectRearHubs)
                break;
            }
        }

//        $scope.obj = { type: 'PlugGap', param: '80'};
//        $scope.Circuit = [ {"Circuit":"CircuitAkigase","shape":"ios/Circuit/CircuitAkigase.gif", "lat":"35.8603361", "lon":"139.5921962"},
//                           {"Circuit":"NewTokyoCircuit","shape":"ios/Circuit/NewTokyoCircuit.gif", "lat":"35.4556534", "lon":"140.0914747"},
//                           {"Circuit":"OoiMazda","shape":"ios/Circuit/OoiMazda.gif", "lat":"35.3367078", "lon":"139.1923430"},
//                           {"Circuit":"Honjo","shape":"ios/Circuit/Honjo.gif", "lat":"36.1708810", "lon":"139.1088930"}
//                         ];
        $scope.obj = [ {"id":"0","type":"PlugGap", "param":"80"}, {"id":"1","type":"ExhaustJoint", "param":"60"},
                     {"id":"2","type":"FrontSprocket", "param":"11"},{"id":"3","type":"RearSprocket", "param":"80"},
                     {"id":"4","type":"FrontColdAirPressure", "param":"50"},{"id":"5","type":"RearColdAirPressure", "param":"80"},
                     {"id":"6","type":"FrontHotAirPressure", "param":"50"},{"id":"7","type":"RearHotAirPressure", "param":"80"},
                     {"id":"8","type":"FrontTread", "param":"50"},{"id":"9","type":"RearTread", "param":"80"},
                     {"id":"10","type":"HandlingFeeling", "param":"50"},{"id":"11","type":"EngineFeeling", "param":"80"},
                     {"id":"12","type":"CarburetorLow", "param":"50"},{"id":"13","type":"CarburetorHi", "param":"80"}
                     ];
        $scope.EntryClassData = ["キッズ","コマー","カデット","ジュニア","ローカルSS","ヤマハSS","スーパーSS","その他"];
        $scope.selectEntryClass = null;
        $scope.ChassisData = ["Wildkart","Xenon","OTK","Birel","Energy","CROCPROMOTION","CRG","AMIGAO","REON","その他"];
        $scope.selectChassis = null;
        $scope.EngineData = ["EC04","Comer","MZ200","EX21","KX21","GX160","GX200","GX270","KT100SEC","KT100SD","X30","MicroMAX","MiniMAX","MAX","その他"];
        $scope.selectEngine = null;
        $scope.SparkPlugsData = ["R7435-8","R7435-9","R7435-10","R4304A-8","R4304A-9","R4304A-10","B8EGV","B9EGV","B10EGV",
        "BPR8EIX","BPR9EIX","BPR10EIX","BR8EIX","BR9EIX","BR10EIX","IRITOP9","B9EG","R4118S-8","R4118S-9",
        "IW01-27","IW01-29","IW01-31","IW01-32","その他"];
        $scope.selectSparkPlugs = null;
        $scope.AirboxData = ["KG SOCOREM","KG NITRO","KG APE-2","RR ASR-Paper","RR ASR-Sponge","RR ACTIVE","FL CIK10/18","その他"];
        $scope.selectAirbox = null;
        $scope.FrontWheelsData = ["MXP","MXJ","MXC","MXL","KK","DWT","FREE LINE","その他"];
        $scope.selectFrontWheels = null;
        $scope.RearWheelsData = ["MXP","MXJ","MXC","MXL","KK","DWT","FREE LINE","その他"];
        $scope.selectRearWheels = null;
        $scope.FrontHubsData = ["Nomal","Option","TripleK","その他"];
        $scope.selectFrontHubs = null;
        $scope.RearHubsData = ["Nomal","Option","TripleK","その他"];
        $scope.selectRearHubs = null;
      });
    // device APIs are available
    //
    function onDeviceReady() {
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
    }

    // onSuccess Geolocation
    //
    function onSuccess(position) {
        gnearnum =  getNearCircuit(position.coords.latitude,position.coords.longitude,Circuit)
        var d = getDistance(position.coords.latitude,position.coords.longitude,Circuit[gnearnum].lat,Circuit[gnearnum].lon)
        gCircuit = Circuit[gnearnum].Circuit
        glat = position.coords.latitude
        glon = position.coords.longitude
        console.log(gCircuit);
        glatlontimestamp = new Date(position.timestamp).toLocaleString() 
        // alert('Latitude: '      + position.coords.latitude          + '\n' +
        //   'Longitude: '         + position.coords.longitude         + '\n' +
        //   'Altitude: '          + position.coords.altitude          + '\n' +
        //   'Accuracy: '          + position.coords.accuracy          + '\n' +
        //   'Altitude Accuracy: ' + position.coords.altitudeAccuracy  + '\n' +
        //   'Heading: '           + position.coords.heading           + '\n' +
        //   'Speed: '             + position.coords.speed             + '\n' +
        //   'Near Circuit : '           + Circuit[gnearnum].Circuit             + '\n' +
        //   'Near Circuit  unit: '    + d.distance_unit         + '\n' +
        //   'Circuit num: '    + Circuit.length         + '\n' +
        //   'neari: '    + gnearnum         + '\n' +
        //   'Timestamp: '         + position.timestamp                + '\n' +
        //   'Timestamp: '         + timestamp              + '\n');
    }

    // onError Callback receives a PositionError object
    //
    function onError(error) {
        alert('code: '    + error.code    + '\n' +
              'message: ' + error.message + '\n');
    }

    ons.ready(function() {
        Circuit = [ {"Circuit":"Honjo","shape":"circuitimage/Honjo.gif", "lat":"36.1708810", "lon":"139.1088930"},
                    {"Circuit":"CircuitAkigase","shape":"circuitimage/CircuitAkigase.gif", "lat":"35.8603361", "lon":"139.5921962"},
                    {"Circuit":"NewTokyoCircuit","shape":"circuitimage/NewTokyoCircuit.gif", "lat":"35.4556534", "lon":"140.0914747"},
                    {"Circuit":"OoiMazda","shape":"circuitimage/OoiMazda.gif", "lat":"35.3367078", "lon":"139.1923430"}
                         ];
//        paramData =[ {"type":"PlugGap", "param":"80"}, {"type":"ExhaustJoint", "param":"60"},
//                             {"type":"FrontSprocket", "param":"11"},{"type":"RearSprocket", "param":"80"},
//                             {"type":"DriverFeeling", "param":"50"}];
//        param = paramData[0].param
        console.log("Onsen UI is ready!");
//        monaca.getDeviceId(function(idid){
//                    alert('Device ID: ' + idid);
//                });
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
        var date = (new Date()).toString()
        console.log(date)
//        PlugGap = get_param(paramData,'PlugGap')
//        console.log(PlugGap)
    });
  </script>
</head>
<body>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>
        <ons-list>
          <ons-list-item ng-click="app.load('home.html')" tappable>
            スポンサーサイト
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_base.html')" tappable>
            Settings base
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_setting.html')" tappable>
            Settings setting
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_view.html')" tappable>
            Settings view
          </ons-list-item>
          <ons-list-item ng-click="app.load('data_save_load.html')" tappable>
            データのセーブとロード
          </ons-list-item>
          <ons-list-item ng-click="app.load('speedhive.html')" tappable>
            MYLAPS speedhive
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>

  <template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          スポンサーサイト
        </div>
      </ons-toolbar>
        <iframe width="100%" height="100%" src="https://www.astyle.co.jp/" scrolling="auto"></iframe>
    </ons-page>
  </template>
  <ons-template id="settings_base.html">
    <ons-page ng-init="NearCircuit = gCircuit ;">
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            ベースセッティング
             <div id="message"></div>
          </div>
        </ons-toolbar>
        EntryClass : <select ng-model="selectEntryClass" ng-options="EntryClass for EntryClass in EntryClassData" ng-change="app.selectChange('EntryClass',selectEntryClass)">
            <option value="">選択してください</option>&nbsp;
        </select><br>
        Chassi : <select ng-model="selectChassis" ng-options="Chassis for Chassis in ChassisData" ng-change="app.selectChange('Chassi',selectChassis)">
            <option value="">選択してください</option>&nbsp;
        </select><br>
        Engine : <select ng-model="selectEngine" ng-options="Engine for Engine in EngineData" ng-change="app.selectChange('Engine',selectEngine)">
            <option value="">選択してください</option>&nbsp;
        </select><br>
        Near Circuit : {{sCircuitName}}&nbsp;
        <p><img src={{sCircuitUrl}}  alt="circuitimage" width="100%"></p>
    </ons-page>
  </ons-template>

  <ons-template id="settings_setting.html">
    <ons-page ng-init="PlugGap = obj[0].param ;ExhaustJoint = obj[1].param ;
                    FrontSprocket = obj[2].param ;RearSprocket = obj[3].param ;
                    FrontColdAirPressure = obj[4].param ;RearColdAirPressure = obj[5].param ;
                    FrontHotAirPressure = obj[6].param ;RearHotAirPressure = obj[7].param ;
                    FrontTread = obj[8].param ;RearTread = obj[9].param ;
                    HandlingFeeling = obj[10].param; EngineFeeling = obj[11].param;
                    CarburetorLow = obj[12].param ;CarburetorHi = obj[13].param ; ">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings memo
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 5px;">
        <div id="info">
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-code-download"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">PlugGap</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="50" max="120" ng-model="PlugGap" ng-change="app.rangeChange('PlugGap',PlugGap)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{PlugGap}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-android-phone-landscape"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">ExhaustJoint</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="40" max="180" ng-model="ExhaustJoint" ng-change="app.rangeChange('ExhaustJoint',ExhaustJoint)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{ExhaustJoint}}
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-code-download"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">CarburetorLow</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="0" max="180" ng-model="CarburetorLow" ng-change="app.rangeChange('CarburetorLow',CarburetorLow)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{CarburetorLow}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-android-phone-landscape"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">CarburetorHi</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="0" max="60" ng-model="CarburetorHi" ng-change="app.rangeChange('CarburetorHi',CarburetorHi)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{CarburetorHi}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear-outline"></ons-icon> 
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">FrontSprocket</ons-col>
          <ons-col style="text-align: center; line-height: 31px;">
            <ons-range style="width: 100%;" min="7" max="25" ng-model="FrontSprocket" ng-change="app.rangeChange('FrontSprocket',FrontSprocket)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{FrontSprocket}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">RearSprocket</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="65" max="95" ng-model="RearSprocket" ng-change="app.rangeChange('RearSprocket',RearSprocket)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{RearSprocket}}
          </ons-col>
        </ons-row>
        
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear-outline"></ons-icon> 
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">FrontColdAir</ons-col>
          <ons-col style="text-align: center; line-height: 31px;">
            <ons-range style="width: 100%;" min="1" max="300" ng-model="FrontColdAirPressure" ng-change="app.rangeChange('FrontColdAirPressure',FrontColdAirPressure)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{FrontColdAirPressure}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">RearColdAir</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="300" ng-model="RearColdAirPressure" ng-change="app.rangeChange('RearColdAirPressure',RearColdAirPressure)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{RearColdAirPressure}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear-outline"></ons-icon> 
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">FrontHotAir</ons-col>
          <ons-col style="text-align: center; line-height: 31px;">
            <ons-range style="width: 100%;" min="1" max="300" ng-model="FrontHotAirPressure" ng-change="app.rangeChange('FrontHotAirPressure',FrontHotAirPressure)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{FrontHotAirPressure}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">RearHotAir</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="300" ng-model="RearHotAirPressure" ng-change="app.rangeChange('RearHotAirPressure',RearHotAirPressure)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{RearHotAirPressure}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear-outline"></ons-icon> 
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">FrontTread</ons-col>
          <ons-col style="text-align: center; line-height: 31px;">
            <ons-range style="width: 100%;" min="0" max="500" ng-model="FrontTread" ng-change="app.rangeChange('FrontTread',FrontTread)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{FrontTread}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">RearTread</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="0" max="500" ng-model="RearTread" ng-change="app.rangeChange('RearTread',RearTread)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{RearTread}}
          </ons-col>
        </ons-row>

        
        
        <ons-row style="margin-top: 10px;">
            SparkPlugs<select ng-model="selectSparkPlugs" ng-options="SparkPlugs for SparkPlugs in SparkPlugsData" ng-change="app.selectChange('SparkPlugs',selectSparkPlugs)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            Airbox<select ng-model="selectAirbox" ng-options="Airbox for Airbox in AirboxData" ng-change="app.selectChange('Airbox',selectAirbox)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            FrontWheels<select ng-model="selectFrontWheels" ng-options="FrontWheels for FrontWheels in FrontWheelsData" ng-change="app.selectChange('FrontWheels',selectFrontWheels)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            RearWheels<select ng-model="selectRearWheels" ng-options="RearWheels for RearWheels in RearWheelsData" ng-change="app.selectChange('RearWheels',selectRearWheels)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            FrontHubs<select ng-model="selectFrontHubs" ng-options="FrontHubs for FrontHubs in FrontHubsData" ng-change="app.selectChange('FrontHubs',selectFrontHubs)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            RearHubs<select ng-model="selectRearHubs" ng-options="RearHubs for RearHubs in RearHubsData" ng-change="app.selectChange('RearHubs',selectRearHubs)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">HandlingFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="HandlingFeeling" ng-change="app.rangeChange('HandlingFeeling',HandlingFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">EngineFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="EngineFeeling" ng-change="app.rangeChange('EngineFeeling',EngineFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
        </div>
      </p>
    </ons-page>
  </ons-template>

  <ons-template id="settings_view.html">
    <ons-page ng-init="PlugGap = obj[0].param ;ExhaustJoint = obj[1].param ;
                    FrontSprocket = obj[2].param ;RearSprocket = obj[3].param ;
                    FrontColdAirPressure = obj[4].param ;RearColdAirPressure = obj[5].param ;
                    FrontHotAirPressure = obj[6].param ;RearHotAirPressure = obj[7].param ;
                    FrontTread = obj[8].param ;RearTread = obj[9].param ;
                    HandlingFeeling = obj[10].param; EngineFeeling = obj[11].param;
                    CarburetorLow = obj[12].param ;CarburetorHi = obj[13].param ; ">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings view
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        <div id="info">
        <h4>EntryClass: <span id="EntryClass">{{selectEntryClass}} &nbsp;</span>,   DryRain: <span id="DryRain">Dry &nbsp;</span></h4>
        <h4>Chassis: <span id="Chassis">{{selectChassis}} &nbsp;</span>,   Engine: <span id="Engine">{{selectEngine}}&nbsp;</span></h4>
        <h4>ExhaustJoint: <span id="ExhaustJoint"> {{ExhaustJoint}}&nbsp;</span>,   Airboxes: <span id="Airboxes">{{selectAirbox}}&nbsp;</span></h4>
        <h4>SparkPlugs: <span id="SparkPlugs">{{selectSparkPlugs}} &nbsp;</span>,   PlugGap: <span id="PlugGap">{{PlugGap}}&nbsp;</span></h4>
        <h4>CarburetorLow: <span id="CarburetorLow">{{CarburetorLow}} &nbsp;</span>,   CarburetorHi: <span id="CarburetorHi">{{CarburetorHi}}&nbsp;</span></h4>
        <h4>FrontSprocket: <span id="FrontSprocket">{{FrontSprocket}} &nbsp;</span>,   RearSprocket: <span id="RearSprocket">{{RearSprocket}}&nbsp;</span></h4>
        <h4>FrontWheels: <span id="FrontWheels">{{selectFrontWheels}}&nbsp;</span>, RearWheels: <span id="RearWheels">{{selectRearWheels}}&nbsp;</span></h4>
        <h4>FrontHubs: <span id="FrontHubs">{{selectFrontHubs}}&nbsp;</span>, RearHubs: <span id="RearHubs">{{selectRearHubs}}&nbsp;</span></h4>     
        <h4>FrontColdAir: <span id="FrontColdAirPressure">{{FrontColdAirPressure}} &nbsp;</span>,   RearColdAir: <span id="RearColdAirPressure">{{RearColdAirPressure}}&nbsp;</span></h4>
        <h4>FrontHotAir: <span id="FrontHotAirPressure">{{FrontHotAirPressure}}&nbsp;</span>, RearHotAir: <span id="RearHotAirPressure">{{RearHotAirPressure}}&nbsp;</span></h4>
        <h4>FrontTread: <span id="FrontTread">{{FrontTread}}&nbsp;</span>, RearTread: <span id="RearTread">{{RearTread}}&nbsp;</span></h4>
        </div>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">HandlingFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="HandlingFeeling" ng-change="app.rangeChange('HandlingFeeling',HandlingFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="120px" style="text-align: left; line-height: 31px;">EngineFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="EngineFeeling" ng-change="app.rangeChange('EngineFeeling',EngineFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
      </p>
    </ons-page>
  </ons-template>
  <ons-template id="data_save_load.html">
    <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            データのセーブとロード
             <div id="message"></div>
          </div>
        </ons-toolbar>
        <ons-button ng-click="app.saveloadDataLocal('save')">
            データ更新
        </ons-button>
        <ons-button ng-click="app.saveloadDataLocal('saveas')">
            データ保存
        </ons-button>
        <ons-button ng-click="app.saveloadDataLocal('load')">
            データ読み出し
        </ons-button>
    </ons-page>
  </ons-template>

  <template id="speedhive.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
            MYLAPS speedhive
        </div>
      </ons-toolbar>
        <iframe width="100%" height="100%" src="https://speedhive.mylaps.com" scrolling="auto"></iframe>
    </ons-page>
  </template>
</body>
</html>
