<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/memo.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
//    param_obj =new new_param();
//    console.log(param_obj)

    ons.bootstrap()
      .controller('AppController', function($scope) {
        this.load = function(page) {
          $scope.splitter.content.load(page);
          $scope.splitter.left.close();
        };

        this.toggle = function() {
          $scope.splitter.left.toggle();
        };
        
        this.rangeChange = function(type,param) {
            //set_param(param_obj,type,param)
            set_param($scope.obj,type,param)
            console.log(get_param($scope.obj,type))
        };
        
        this.selectChange = function(type,item){
            switch( type ) {
                case 'EntryClass':
                $scope.selectEntryClass = item;
                console.log(type,$scope.selectEntryClass)
                break;
                case 'Chassi':
                $scope.selectChassis = item;
                console.log(type,$scope.selectChassis)
                break;
                case 'Engine':
                $scope.selectEngine = item;
                console.log(type,$scope.selectEngine)
                break;
                case 'SparkPlugs':
                $scope.selectSparkPlugs = item;
                console.log(type,$scope.selectSparkPlugs)
                break;
                case 'Airbox':
                $scope.selectAirbox = item;
                console.log(type,$scope.selectAirbox)
                break;
            }
        }
//        $scope.obj = { type: 'PlugGap', param: '80'};
        $scope.obj = [ {"id":"0","type":"PlugGap", "param":"80"}, {"id":"1","type":"ExhaustJoint", "param":"60"},
                     {"id":"2","type":"FrontSprocket", "param":"11"},{"id":"3","type":"RearSprocket", "param":"80"},
                     {"id":"4","type":"DriverFeeling", "param":"50"}];
        $scope.EntryClassData = ["キッズ","コマー","カデット","ジュニア","ローカルSS","ヤマハSS","スーパーSS","その他"];
        $scope.selectEntryClass = null;
        $scope.ChassisData = ["Wildkart","Xenon","OTK","Birel","Energy","CROCPROMOTION","CRG","AMIGAO","REON","その他"];
        $scope.selectChassis = null;
        $scope.EngineData = ["EC04","Comer","MZ200","EX21","KX21","GX160","GX200","GX270","KT100SEC","KT100SD","X30","MicroMAX","MiniMAX","MAX","その他"];
        $scope.selectEngine = null;
        $scope.SparkPlugsData = ["R7435-8","R7435-9","R7435-10","R4304A-8","R4304A-9","R4304A-10","B8EGV","B9EGV","B10EGV",
        "BPR8EIX","BPR9EIX","BPR10EIX","BR8EIX","BR9EIX","BR10EIX","IRITOP9","B9EG","R4118S-8","R4118S-9",
        "IW01-27","IW01-29","IW01-31","IW01-32","その他"];
        $scope.selectSparkPlugs = null;
        $scope.AirboxData = ["KG SOCOREM","KG NITRO","KG APE-2","RR ASR-Paper","RR ASR-Sponge","RR ACTIVE","FL CIK10/18","その他"];
        $scope.selectAirbox = null;
      });

    ons.ready(function() {
//        paramData =[ {"type":"PlugGap", "param":"80"}, {"type":"ExhaustJoint", "param":"60"},
//                             {"type":"FrontSprocket", "param":"11"},{"type":"RearSprocket", "param":"80"},
//                             {"type":"DriverFeeling", "param":"50"}];
//        param = paramData[0].param
        console.log("Onsen UI is ready!");
//        monaca.getDeviceId(function(idid){
//                    alert('Device ID: ' + idid);
//                });
        var date = (new Date()).toString()
        console.log(date)
//        PlugGap = get_param(paramData,'PlugGap')
//        console.log(PlugGap)
    });
  </script>
</head>
<body>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>
        <ons-list>
          <ons-list-item ng-click="app.load('home.html')" tappable>
            スポンサーサイト
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_base.html')" tappable>
            Settings base
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_setting.html')" tappable>
            Settings setting
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings_view.html')" tappable>
            Settings view
          </ons-list-item>
          <ons-list-item ng-click="app.load('data_save_load.html')" tappable>
            データのセーブとロード
          </ons-list-item>
          <ons-list-item ng-click="app.load('speedhive.html')" tappable>
            MYLAPS speedhive
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>

  <template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          スポンサーサイト
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        SportCar＆EuroCar
        <p id = "myid"></p>
        <iframe width="100%" height="100%" src="https://www.eurojp.com/all_cars/" scrolling="auto"></iframe>
      </p>
    </ons-page>
  </template>
  <ons-template id="settings_base.html">
    <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            ベースセッティング
             <div id="message"></div>
          </div>
        </ons-toolbar>
        <select ng-model="selectEntryClass" ng-options="EntryClass for EntryClass in EntryClassData" ng-change="app.selectChange('EntryClass',selectEntryClass)">
            <option value="">選択してください</option>
        </select>
        <select ng-model="selectChassis" ng-options="Chassis for Chassis in ChassisData" ng-change="app.selectChange('Chassi',selectChassis)">
            <option value="">選択してください</option>
        </select>
        <select ng-model="selectEngine" ng-options="Engine for Engine in EngineData" ng-change="app.selectChange('Engine',selectEngine)">
            <option value="">選択してください</option>
        </select>
    </ons-page>
  </ons-template>

  <ons-template id="settings_setting.html">
    <ons-page ng-init="PlugGap = obj[0].param ;ExhaustJoint = obj[1].param ;
                    FrontSprocket = obj[2].param ;RearSprocket = obj[3].param ;
                    DriverFeeling = obj[4].param ">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings memo
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 5px;">
        <div id="info">
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-code-download"></ons-icon>
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">PlugGap</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="50" max="120" ng-model="PlugGap" ng-change="app.rangeChange('PlugGap',PlugGap)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{PlugGap}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
        <ons-row>
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-android-phone-landscape"></ons-icon>
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">ExhaustJoint</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="40" max="180" ng-model="ExhaustJoint" ng-change="app.rangeChange('ExhaustJoint',ExhaustJoint)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{ExhaustJoint}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear-outline"></ons-icon> 
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">FrontSprocket</ons-col>
          <ons-col style="text-align: center; line-height: 31px;">
            <ons-range style="width: 100%;" min="7" max="25" ng-model="FrontSprocket" ng-change="app.rangeChange('FrontSprocket',FrontSprocket)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{FrontSprocket}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="ion-ios-gear"></ons-icon>
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">RearSprocket</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="65" max="95" ng-model="RearSprocket" ng-change="app.rangeChange('RearSprocket',RearSprocket)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">{{RearSprocket}}
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <select ng-model="selectSparkPlugs" ng-options="SparkPlugs for SparkPlugs in SparkPlugsData" ng-change="app.selectChange('SparkPlugs',selectSparkPlugs)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
            <select ng-model="selectAirbox" ng-options="Airbox for Airbox in AirboxData" ng-change="app.selectChange('Airbox',selectAirbox)">
                <option value="">選択してください</option>
            </select>
        </ons-row>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">DriverFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="DriverFeeling" ng-change="app.rangeChange('DriverFeeling',DriverFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
        </div>
      </p>
    </ons-page>
  </ons-template>

  <ons-template id="settings_view.html">
    <ons-page ng-init="PlugGap = obj[0].param ;ExhaustJoint = obj[1].param ;
                    FrontSprocket = obj[2].param ;RearSprocket = obj[3].param ;
                    DriverFeeling = obj[4].param ">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings view
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        <div id="info">
        <h4>EntryClass: <span id="EntryClass">{{selectEntryClass}} &nbsp;</span>,   DryRain: <span id="DryRain">Dry &nbsp;</span></h4>
        <h4>Chassis: <span id="Chassis">{{selectChassis}} &nbsp;</span>,   Engine: <span id="Engine">{{selectEngine}}&nbsp;</span></h4>
        <h4>ExhaustJoint: <span id="ExhaustJoint"> {{ExhaustJoint}}&nbsp;</span>,   Airboxes: <span id="Airboxes">{{selectAirbox}}&nbsp;</span></h4>
        <h4>SparkPlugs: <span id="SparkPlugs">{{selectSparkPlugs}} &nbsp;</span>,   PlugGap: <span id="PlugGap">{{PlugGap}}&nbsp;</span></h4>
        <h4>FrontSprocket: <span id="FrontSprocket">{{FrontSprocket}} &nbsp;</span>,   RearSprocket: <span id="RearSprocket">{{RearSprocket}}&nbsp;</span></h4>
        <h4>FrontWheels: <span id="FrontWheels">&nbsp;</span>, RearWheels: <span id="RearWheels"></span></h4>
        <h4>FrontHubs: <span id="FrontHubs">&nbsp;</span>, RearHubs: <span id="RearHubs"></span></h4>
        </div>
        <ons-row style="margin-top: 10px;">
          <ons-col width="30px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-down"></ons-icon>
          </ons-col>
          <ons-col width="100px" style="text-align: left; line-height: 31px;">DriverFeeling</ons-col>
          <ons-col>
            <ons-range style="width: 100%;" min="1" max="100" ng-model="DriverFeeling" ng-change="app.rangeChange('DriverFeeling',DriverFeeling)"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-thumb-up"></ons-icon>
          </ons-col>
        </ons-row>
      </p>
    </ons-page>
  </ons-template>
  <ons-template id="data_save_load.html">
    <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            データのセーブとロード
             <div id="message"></div>
          </div>
        </ons-toolbar>
        <ons-button onclick="saveData()">
            データセーブ
        </ons-button>
        <ons-button onclick="saveLoad()">
            データロード
        </ons-button>
    </ons-page>
  </ons-template>

  <template id="speedhive.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
            MYLAPS speedhive
        </div>
      </ons-toolbar>
        <iframe width="100%" height="100%" src="https://speedhive.mylaps.com" scrolling="auto"></iframe>
    </ons-page>
  </template>
</body>
</html>
